<ol reversed class="postlist" style="counter-reset: start-from {{ postslist.length + 1 }}">
{%- for book in collections.books | reverse -%}
  <li class="postlist-item{% if book.url == url %} postlist-item-active{% endif %}">
    <a href="{{ book.url | url }}" class="postlist-link u-url p-name rainbow-active">{% if book.data.title %}{{ book.data.title }}{% else %}<code>{{ book.url }}</code>{% endif %}</a>
    {% for tag in book.data.tags %}
      {%- if tag != "posts" -%}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="tag rainbow-active">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    <p>
    {{ book.templateContent | striptags(true) | truncate(280) }}<a href="{{ book.url | url }}">READ MORE</a>
    </p>
    <br>
    {% if book.data.image %}
    <img alt="teaser image" class="post-image" src="{{ book.data.image }}">
    {% elif book.data.isbn13 %}
    <a class="book-image-link u-url" href="{{ book.url | url }}">
      <img alt="book cover" class="book-image" src="https://covers.openlibrary.org/b/isbn/{{ book.data.isbn13 }}.jpg"></img></a>
    {% elif book.data.isbn %}
    <a class="book-image-link u-url" href="{{ book.url | url }}">
      <img alt="book cover" class="book-image" src="https://covers.openlibrary.org/b/isbn/{{ book.data.isbn }}.jpg"></img></a>
    {% endif %}
  </li>
{% endfor %}
</ol>
