---
layout: layouts/base.njk
title: Books Read and Reviewed
isDocs: true
---

<div id="TOC" class="elv-toc">
<details open="open">
	<summary class="details btn-primary rainbow-active rainbow-active-noanim">Menu</summary>

<ul class="postlist" style="counter-reset: start-from {{ postslist.length + 1 }}">
{%- for book in collections.books -%}
  <li class="postlist-item{% if book.url == url %} postlist-item-active{% endif %}">
    <a href="{{ book.url | url }}" class="postlist-link u-url p-name rainbow-active">{% if book.data.title %}{{ book.data.title }}{% else %}<code>{{ book.url }}</code>{% endif %}</a>
  </li>
{%- endfor -%}
</ul>

</details>

</div>

<div id="CONTENTS" class="flex-auto ">

<div class="h-entry">
<p><h2 class="p-name">{{ title }}</h2></p>
<div class="e-content">
    {% if isbn13 %}
      <img alt="{{ title }}" align="left" class="float-left mb-1 mr-1 book-image" src="https://covers.openlibrary.org/b/isbn/{{ isbn13 }}.jpg"></img>
    {% elif isbn %}
      <img alt="{{ title }}" align="left" class="float-left mb-1 mr-1 book-image" src="https://covers.openlibrary.org/b/isbn/{{ isbn }}.jpg"></img>
    {% endif %}
<p>Author: {{ bookauthor }}
<p>Pages: {{ pages }}
<p>Year: {{ yearpublished }}
<p>My Rating: {{ myrating }}
<p>
<hr class="rating">
<p>
</div>
<div class="review">

{{ content | safe }}

</div>
</div>
