---
layout: layouts/base.njk
title: Books Read, Rated and/or Reviewed
isDocs: true
---

<div id="TOC" class="elv-toc">
<details open="open">
	<summary class="details btn-primary rainbow-active rainbow-active-noanim">Menu</summary>

<ul class="postlist" style="counter-reset: start-from {{ postslist.length + 1 }}">
{%- for book in collections.books -%}
  <li class="postlist-item{% if book.url == url %} postlist-item-active{% endif %}">
    <a href="{{ book.url | url }}" class="postlist-link u-url p-name rainbow-active">{% if book.data.title %}{{ book.data.title }}{% else %}<code>{{ book.url }}</code>{% endif %}</a>
  </li>
{%- endfor -%}
</ul>

</details>

</div>

<div id="CONTENTS" class="flex-auto ">
{% if eleventyNavigation and eleventyNavigation.key and eleventyNavigation.parent %}
<nav class="mb-4 breadcrumb" aria-labelledby="breadcrumb">
  <h2 class="absolute w-px h-px overflow-hidden" id="breadcrumb">Breadcrumbs: </h2>
  {{ collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) | eleventyNavigationToHtml({ listClass: 'lo lo-inline', listItemClass: 'lo-c', activeListItemClass: 'breadcrumb-active' }) | safe }}
</nav>
{% endif %}


{{ content | safe }}

</div>
