---
layout: layouts/base.njk
title: Books Read, Rated and/or Reviewed
isDocs: true
---

<div id="TOC" class="elv-toc">
<details open="open">
	<summary class="details btn-primary rainbow-active rainbow-active-noanim">Menu</summary>
	{%- if eleventyNavigation -%}
		{%- set navKey = eleventyNavigation.key -%}
	{%- endif -%}
	{{ collections.all | eleventyNavigation | eleventyNavigationToHtml({ activeKey: navKey, listClass: 'elv-toc-list', activeListItemClass: 'elv-toc-active' }) | safe }}
{#	{{ collections.sidebarNav | eleventyNavigation(navKey) | eleventyNavigationToHtml({ activeKey: navKey, listClass: 'elv-toc-list', activeListItemClass: 'elv-toc-active' }) | safe }} #}
</details>

</div>

<div id="CONTENTS" class="flex-auto ">
{% if eleventyNavigation and eleventyNavigation.key and eleventyNavigation.parent %}
<nav class="mb-4 breadcrumb" aria-labelledby="breadcrumb">
  <h2 class="absolute w-px h-px overflow-hidden" id="breadcrumb">Breadcrumbs: </h2>
  {{ collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) | eleventyNavigationToHtml({ listClass: 'lo lo-inline', listItemClass: 'lo-c', activeListItemClass: 'breadcrumb-active' }) | safe }}
</nav>
{% endif %}


{{ content | safe }}

</div>
